$mainFont: "Montserrat";
$additionalFont: "Marck Script";

$widthContainer: 1280px;
$mainFontSize: 16;
$paddingSizePC: 70px;
$paddingSizeTablet: 40px;
$paddingSizePhone: 30px;


// $ColorGreen: #009b47;
// $ColorDeepGreen: #00843e;
// $ColorYellow: #f5e814;
$ColorBlack: #1d1d1b;
// $ColorWhite: #ffffff;
// $ColorLightBlue: #80A6FF;
// $ColorGray: #E0E1E1;

$ColorWhite: #ffffff;
$ColorDeepBlue: #505160;
$ColorLightBlue: #68829E;
$ColorDeepGreen: #009b47;
$ColorDeepYellow: #f5e814;
$ColorLightWhite: #f2f3f4;
$ColorDeepPurple: #551054;